[Desktop Entry]
Name=CyberPatriot Scoring Report
Type=Application
Exec=x-www-browser "file:///opt/ScoreEngine/ScoreReport.html"
Icon=/opt/ScoreEngine/tux.png
StartupNotify=true
